@import "Colors";

nav {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: $color1;
    top: 0%;
    z-index: 10;

    > h1 {
        font-family: "Dancing Script";
        //text-transform: uppercase;
    }

    > main {
        width: 70%;
        display: flex;
        justify-content: flex-end;

        > a {
            color: $dark;
            margin: 1rem;

            &:hover {
                color: $color3;
            }
        }
    }
}
